.calon {
  position: relative;
  z-index: 1;
  background-size: cover;
}

.img-fluid {
  width: 100%;
  max-width: 200px;
  border-radius: 2rem;
  height: auto;
}

.footer__socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer__socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.nama-pengantin {
  font-family: "Playball", cursive;
  font-size: 1.2rem;
}

@media only screen and (min-width: 576px) {
  .nama-pengantin {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .nama-pengantin {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1400px) {
}
